div.__tiny-commander {
  position: fixed;
  width: 503px;
  height: 39px;
  padding: 5px 9px 0 16px;
  top: 20%;
  left: calc(50% - 520px / 2);
  background: #fff;
  border: 1px solid #e3e4e5;
  box-shadow: 2px 2px 5px #e3e4e5;
}